<template>
  <section class ="form">
    <span v-if="errors.message" class="flash-error">
      {{ errors.message }}
    </span>

    <form @submit.prevent="submit">
      <div class="fields" v-bind:class="{ 'has-errors': errors.login.errors }">
        <label for="login">
          Login
        </label>
        <input type="text" id="login" v-model="login">
        <span class="has-errors" v-if="errors.login.errors">
            {{ errors.login.errors[0] }}
        </span>
      </div>
      <div class="fields" v-bind:class="{ 'has-errors': errors.password.errors }">
        <label for="password">
          Password
        </label>
        <input type="password" id="password" v-model="password">
        <span class="has-errors" v-if="errors.password.errors">
            {{ errors.password.errors[0] }}
        </span>
      </div>
      <div class="fields">
        <button type="submit">
          Login
        </button>
      </div>
    </form>
  </section>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    data () {
      return {
        login: null,
        password: null,
        errors: {
          login: {
            errors: null
          },
          password: {
            errors: null
          },
          message: null
        }
      }
    },
    methods: {
      ...mapActions({
        signup: 'auth/login'
      }),
      submit () {
        this.signup({
          payload: {
            login: this.login,
            password: this.password
          },
          context: this
        }).then(() => {
          this.$router.replace({ name: 'home' })
        })
      }
    }
  }
</script>

<style src="../../../assets/css/app.css">
</style>
