<template>
  <section class ="form">
    <form @submit.prevent="submit">
      <div class="fields" v-bind:class="{ 'has-errors': errors.firstname.errors }">
        <label for="firstname">
          Firstname
        </label>
        <input type="text" id="firstname" autofocus v-model="firstname">
        <span class="has-errors" v-if="errors.firstname.errors">
            {{ errors.firstname.errors[0] }}
        </span>
      </div>
      <div class="fields" v-bind:class="{ 'has-errors': errors.lastname.errors }">
        <label for="lastname">
          Lastname
        </label>
        <input type="text" id="lastname" v-model="lastname">
        <span class="has-errors" v-if="errors.lastname.errors">
            {{ errors.lastname.errors[0] }}
        </span>
      </div>
      <div class="fields" v-bind:class="{ 'has-errors': errors.email.errors }">
        <label for="email">
          Email
        </label>
        <input type="text" id="email" v-model="email">
        <span class="has-errors" v-if="errors.email.errors">
            {{ errors.email.errors[0] }}
        </span>
      </div>
      <div class="fields" v-bind:class="{ 'has-errors': errors.plainPassword.errors }">
        <label for="plainPassword">
          Password
        </label>
        <input type="password" id="plainPassword" v-model="plainPassword">
        <span class="has-errors" v-if="errors.plainPassword.errors">
            {{ errors.plainPassword.errors[0] }}
        </span>
      </div>
      <div class="fields">
        <button type="submit">
          Register
        </button>
      </div>
    </form>
  </section>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    data () {
      return {
        firstname: null,
        lastname: null,
        email: null,
        plainPassword: null,
        errors: {
          firstname: {
            errors: null
          },
          lastname: {
            errors: null
          },
          email: {
            errors: null
          },
          plainPassword: {
            errors: null
          }
        }
      }
    },
    methods: {
      ...mapActions({
        register: 'auth/register'
      }),
      submit () {
        this.register({
          payload: {
            firstname: this.firstname,
            lastname: this.lastname,
            email: this.email,
            plainPassword: this.plainPassword
          },
          context: this
        }).then(() => {
          this.$router.replace({ name: 'home' })
        })
      }
    }
  }
</script>

<style src="../../../assets/css/app.css">
</style>
