* {
  padding: 0; margin: 0; max-width: 100%; box-sizing: border-box;
}

nav {
  height: 5vh;
}

li {
  display: inline-block;
}

.container {
  background-color: rgb(12.9%, 12.9%, 12.9%);
  color: rgb(98%, 98%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 95vh;
  max-width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1vw;
  padding-top: 1em;
  width: auto;
}

.fields label,
.fields input {
  align-items: center;
  display: flex;
  height: 3em;
  margin-bottom: 5px;
  width: 40vw;
}

.fields label {
  justify-content: flex-end;
  padding-right: 1vw;
  max-width: 10vw;
  min-width: 8vw;
}

.fields input {
  background-color: rgb(12.9%, 12.9%, 12.9%);
  color: rgb(98%, 98%, 98%);
  max-width: 34vw;
  border: 1px cornflowerblue solid;
}

span.has-errors {
  display: block;
  color: #ff5252;
  padding-right: 1vw;
  width: 100%;
  text-align: right;
}

.has-errors {
  color: #ff5252;
  font-weight: bold;
}

.has-errors > input {
  border: 1px solid #ff5252;
}

.flash-error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh auto;
  border: 2px solid #ff5252;
  background-color: rgba(93.7%, 60.4%, 60.4%, .9);
  color: #b71c1c;
  height: 60px;
  width: 80vw;
}
