<template>
  <nav>

    <ul v-if="user.authenticated">
      <li>
        <router-link :to="{ name: 'home' }">
          {{ user.data.firstname }}
        </router-link>
      </li>
      <li>
        <router-link :to="{ name: 'timeline' }">
          Timeline
        </router-link>
      </li>
    </ul>
    <ul v-if="!user.authenticated">
      <li>
        <router-link :to="{ name: 'register' }">
          Register
        </router-link>
      </li>
      <li>
        <router-link :to="{ name: 'login' }">
          Login
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    computed: mapGetters({
      user: 'auth/user'
    })
  }
</script>
